################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Release*
/src/.vs
/src/Debug
/src/Release
/src/x64
/x64
*.user
/.vs/VDX/DesignTimeBuild
/build/bin/Release
/build/obj
*.DotSettings
*.ini
/bin/*
*.APS
/packages
/lib/release/x64
