################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VDX/v15
/Release
/Release (static)
/src/.vs/VDX/v15
/src/Debug
/src/Release
/src/x64/Release
/x64
*.user
/.vs/VDX/DesignTimeBuild
/bin/x64
/build/bin/Release
/build/obj
*.DotSettings
*.ini
/bin/x86
/Release_LIB
*.APS
