<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <log4net debug="false">
      <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        </layout>
      </appender>

      <root>
        <level value="ALL" />
        <appender-ref ref="EventLogAppender" />
      </root>
    </log4net>
  </applicationSettings>

</configuration>